/* Paleta de Cores */
:root {
    --verde-escuro: #006400;
    --verde-claro: #32CD32;
    --cinza-claro: #F1F1F1;
    --cinza-escuro: #E1E1E1;
}

/* Corpo */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--verde-escuro);
    background-color: var(--cinza-claro);
}

/* Cabeçalho */
header {
    background-color: var(--verde-escuro);
}

/* Links do Navegador */
.nav-link {
    font-weight: bold;
}

/* Seção Início */
#inicio {
    padding: 4rem 0;
}

#inicio img {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

/* Seção Galeria */
#galeria {
    padding: 4rem 0;
}

/* Botão de Contato */
button {
    font-weight: bold;
    color: var(--verde-escuro);
    background-color: var(--cinza-escuro);
}
