@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Lemon&display=swap');

:root {
    --cor-fundo: #DCD7C9;
    --cor-titulo: #2C3930;
    --cor-texto: #A27B5C;
    --cor-botao: #1B2A1E; /* Cor verde escuro quase preto */
}

body {
    background-color: var(--cor-fundo);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-texto);
}

header {
    background-color: #ffffff;
    padding: 20px 0;
}

.nav-link {
    color: var(--cor-titulo);
    font-weight: 600;
}

h1, h2 {
    font-family: 'Lemon', serif;
    color: var(--cor-titulo);
}

/* Estilização do fundo arredondado */
.inicio-fundo {
    background: url('img/finance.png') no-repeat center;
    background-size: cover;
    border-radius: 30px;
    padding: 60px;
    text-align: center;
}

.botao-inicio {
    background-color: var(--cor-botao);
    color: 1B2A1E;
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    font-weight: bold;
}

.formulario {
    background-color: #DCD7C9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--cor-botao);
    color: white;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}

footer {
    text-align: center;
    padding: 20px;
    font-style: italic;
    background-color: #2C3930;
    color: white;
}
